@model IEnumerable<RunnersFilmMVC.Models.Review>

@{
    ViewBag.Title = "Index";
}



<h2>Reviews</h2>
@*If user is not logged in then ask him to log in*@
@if (ViewBag.email == "not logged in")
{
<p>Please Login to View Comments</p>
}
@*If user is logged in teh grant him access to the page*@
@if (ViewBag.email != "not logged in")
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Movie
        </th>
        <th>
            Review Title
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            Likes
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model)
{    
        Random rnd = new Random();
        // This will return either 1 or 2 randomly.
        int question = rnd.Next(1, 99);
    
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Film.Movie)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Comment)
    </td>
    <td>
        @question
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ReviewId }) |
        @Html.ActionLink("Details", "Details", new { id = item.ReviewId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ReviewId })
    </td>
</tr>
}

</table>
}
